<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Paths" value="e:\installedgames;c:\Program Files;c:\Program Files (x86)\" />
    <add key="Extensions" value="exe;bat" />
    <add key="FolderDepth" value="3" />
  </appSettings>
</configuration>